:root {
  --beige: #f1e3cd;
  --black: #000;
  --gray: #b7b7b7;
  --green: #0f0;
  --purple: #293385;
  --red: #f00;
  --white: #fff;
  --yellow: #ff0;
}

body {
  align-items: center;
  background-color: var(--purple);
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.board {
  position: relative;
}

.box {
  background-color: var(--beige);
  border: 2px solid var(--red);
  padding: 1rem;
}

.circle {
  border-radius: 50%;
  border: 1px solid var(--black);
  height: 75%;
  width: 75%;
}

.dice {
  align-items: center;
  background-color: var(--white);
  border-radius: 0.5rem;
  border: 2px solid var(--black);
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  font-size: 3vmin;
  height: 5.5vmin;
  justify-content: center;
  padding: 0;
  position: absolute;
  transition: border-color 0.25s, box-shadow 0.25s, color 0.25s;
  user-select: none;
  width: 5.5vmin;
}

.field {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.figure {
  border-radius: 50%;
  border: 2px solid var(--white);
  box-shadow: 0 0 2px var(--black);
  box-sizing: content-box;
  cursor: pointer;
  padding: 0;
  position: absolute;
}

.house {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.line {
  position: absolute;
}
